.container{
    max-width: 70vw;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    gap: 23px;
    width: 100%;
}

.inp{
    display: flex;
    flex-direction: column;
    width: 100%;
}